@import './styles.scss';

body {
    margin: 0;
    min-height: 100vh;
    background: $background;
}

small {
    font-size: 80%;
}

.section-title {
    @include section-title-text;
}

.section-sub-title {
    @include section-sub-title-text;
}

.section-title-small {
    @include section-title-text-small;
}

.section-body {
    @include body-text;
}

.section-body-small {
    @include small-body-text;
}

.section-title-margin {
    margin: 0 1em .5em 1em;
}

.pink-button {
    @include pink-button;
}

// for nested pages
.wrapper {
    min-height: 95vh;
}

// Thanks https://stackoverflow.com/a/53336754/16305154
.filter-white {
    filter: invert(100%) sepia(77%) saturate(86%) hue-rotate(58deg) brightness(113%) contrast(108%);
}

// Overiding default bootstrap accordion
.accordion-button {
    &:not(.collapsed) {
        background-color: rgba($color-violet, 0.4);
    }
}